
body {
    width: 50em;
    color: #333333;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 80%;
    line-height: 1.5;
    margin-left: 3em;
}

.footer {
    border-top: 1px solid #C0C0C0;
    margin-top: 3em;
    color: #C0C0C0;
}

.header {
    border-top: 1px solid #C0C0C0;
    color: #C0C0C0;
}

.menu {
    border-top: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
}

table {
    font-size: 100%;
}

th {
    text-align: left;
}

pre {
    font-family: 'andale mono', 'lucida console', monospace; 
    font-size: 100%;
}

blockquote code {
    font-family: 'andale mono', 'lucida console', monospace; 
    font-size: 100%;
}

a:link, a:visited, a:focus, a:hover, a:active {
    font-weight: bold;
    text-decoration: none;
    color: #17336B;
}

#about {
    float: right;
}

h1 {
    margin-bottom: 0px;
}

h3 {
    margin-top: 2em;
}

#h1sub {
    font-weight: bold;
    font-style: italic;
}

a img {
    border: 0px;
}
